.main-button{
    display: inline-block; /*retira as limitações de poder controlar o background e faz ficar em linha*/
    background-color: #000000;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #424242;
    margin-right: 0px;
    text-decoration: none;
    transition: 1s cubic-bezier(.45,.97,.68,2.48);
}

.main-button:hover{
    background-color: #4e3b3b;
    transform: scale(1.08);
}
