.main-section{
    background-color: #717171;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #3A4042;
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.-second{
    background-color: #000;
    border-bottom: 10px solid #fff;
}

.main-section.-color{
    background-color:#004A63 ;
    border-bottom: 10px solid #000;
}
