header{ /*responsavel pelas mudanças do primeiro cabeçalho */
    display: flex;
    justify-content: space-between;/*leva para as estremidades dos elemtentos*/
    background-color: #828282;
    text-align: center;
    border-bottom: 10px solid #000000;
    padding: 10px 20px;
}

.main-title{
    color: #FFB800;
    font-size: 35px;
    font-family: "Press Start 2P";
    text-shadow: 5px 5px 1px #000000;
}

.main-title.-second{
    color: #fff;
    text-shadow: none;
    text-align: center;
}